.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;   
}

.hero img {
    margin-top: 80px;
    width: 15%;
    border-radius: 50%;
}

.hero h1{
    text-align: center;
    width: 65%;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;

}
.hero h1 span{
    background: linear-gradient(270deg, #0559df 10%, #9b1111 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;

}
.hero-action:a{
    text-decoration: none;
    color: white;    
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    

}
.hero-connect{
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #2564da -5.09%, #e12323 102.06%);
    border: 2px solid black;

}
.hero-resume{
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    text-decoration: none;
    color: white;

}
.hero-connect:hover{
    border: 2px solid white;


}
.hero-resume:hover{
    border-color: #154cff;
}
 @media(max-width: 1105px){
    .hero img{
        margin-top: 50px;
        width: 240px;
    }
    .hero h1{
        margin-top: 10px;
        width: 90%;
        font-size: 35px;
        line-height: 45px;
    }
    .hero p{
        width: 80%;
        font-size: 16px;
        line-height: 25px;
        margin: 5px 0px;
    }

    .hero-action{
        gap: 10px;
        /* font-size: 18px; */
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px;
        border-radius: 40px;
        font-size: 14px;
    }
    .hero-resume{
        padding: 18px 30px;
        border-radius: 40px;
        font-size: 14px;

    }
 }