.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
    /* padding-top: 50px; */
}

.contact-title{
    position: relative;

}
.contact-title h1{
    padding: 0px 30px;
    font-size:60px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    transform: scaleX(-1) rotate(250deg) ;
    bottom: -25px;
    right: 10px;
    z-index: -1;
    width: 80px;
    height: 120%;
}
.contact-section{
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    display: flex;
    
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 40%;  
    
}
.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #5719ca 60%, #bb4343 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: #d8d8d8;
    font-size: 16px;
    line-height: 25px;
}
.contact-socials{
    display: flex;
    gap: 12px;

}
.contact-social{
    display: flex;
    align-items: center;
    gap: 18px;
}
.contact-social img{
    width: 90%;
}
.contact-social:hover{
    cursor: pointer;
    /* background: linear-gradient(270deg, #0454d3 45%, #9b1111 100%); */
    /* transform: scale(1.1); */
    transition: 0.3s;
    transform: translateY(8px);
    

    
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #d8d8d8;
    font-size: 22px;
    padding-bottom: 25px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 18px;
}

.contact-right{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

}
.contact-right label{
    color: #d8d8d8;
   
}

.contact-right input, .contact-right textarea{
    width: 100%;
    border: none;
    padding: 18px 0px 18px 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
    resize: none;
     
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    padding: 18px 40px;
    margin-top: 15px;
    /* margin-bottom: 50px; */
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(264deg, #0454d3 -5.48%, #9b1111 100%);
    
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:1105px){
    .contact{
        gap: 40px;
        margin: 50px 6%;
        align-items: start;

    }
    .contact-title h1{
        padding: 0;
        font-size: 40px;
        /* font-weight: 600; */
    }
   
    .contact-title img{
        top: 5px;
        right: -20px;
        width: 65px;
        height: auto;
        
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 35px;
    }
    .contact-detail{
        gap: 12px;
    }
    .contact-socials{
        gap: 12px;

    }
    .contact-detail img{
        width: 20px;
    }
    .contact-social img{
        width: 24px;
    }
    .contact-right label{
        font-size: 14px;
    }
    .contact-submit{
        font-size: 14px;
        padding: 16px 22px;
    }
    
}