.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 50px 170px;
     position: -webkit-sticky; 
     position: sticky;
    
  
   
}



.nav-menu{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 16px;
    
}
.logo{
    
    font-size: 35px;
    font-weight: 400;
    background: linear-gradient(270deg, #0559df 10%, #9b1111 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;   
    padding-left: 40px;
}



.nav-connect {
    padding: 18px 30px;
    border-radius: 50px;
    background:linear-gradient(267deg, #055991 0.36%, #850a0a 102.06% );
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-connect:hover {
    transform: scale(1.05) ;
}
.nav-menu li{
    display: flex   ;
    flex-direction: column;   
    gap: 5px;
    cursor: pointer;
    
}

.nav-menu li img{
    display: flex;
    margin: auto;
    width: 50px;
}
.clicked{
    background: linear-gradient(270deg, #0559df 10%, #9b1111 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform:scale(1.5);
    transition: 0.3s;
    
}

.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-open, .nav-mob-close {
    display: none;
}
.nav-mob-open{
    padding-right: 50px;
}

@media (max-width: 1100px){
    .navbar{
        margin:0px 0px 0px 0px;
        padding-top: 20px;
        width: 100%;
        justify-content: space-between;
        
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: absolute;
        right: 0px;
        justify-content: end;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
        padding-bottom: 40px;
    }
.logo{
    justify-content: start;
}
    .nav-menu {       
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016 ;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 20px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

}